<!DOCTYPE html>
<html>
<head>
    <title>Matthew's Study Tracker Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class ="container">
        <h1>Matthew's Study Tracker Dashboard</h1>
        <p>Track your studying, tasks, and progress</p>

        <div class="task-input">
            <input id="taskInput" type="text" placeholder="Enter a study task">
            <button id="addButton">Add Task</button>
        </div>

        <ul id="taskList"></ul>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>